@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Variables */
:root{
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-terciario: #0A3871;
    --color-btn1: #0A3871;
    --color-btn2: #D8DFE8;
    --color-btns: #052051;
    --color-btns2: #495057;
    --font: "Inter", sans-serif;
}
/* Global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--color-primario);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

header {
    display: none; /* Oculto por ahora */
}
/* Logo  */
.logo-alura{
    height: 48px;
    margin: 40px;
}
/* Container */
.container {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: var(--color-primario);
    overflow: hidden;
}

.cuadro-derecha {
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-secundario);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 40px;
}

.cuadro-izquierda {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
}

.cuadro-izquierda img {
    max-width: 150px;
    margin-bottom: 20px;
}

.cuadro-izquierda textarea {
    width: 1000px;
    height: 700px;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 30px;
    background-color: var(--color-primario);
}
textarea{
    text-align: center;
    justify-content: center;
}
.info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.info img {
    padding: 0px;
}

.botones {
    display: flex;
    gap: 20px;
}

.botones__encriptar,
.botones__desencriptar {
    font-weight: 400;
    padding: 24px;
    width: 328px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.botones__encriptar {
    background-color: var(--color-btn1);
    color: var(--color-secundario);
}

.botones__desencriptar {
    background-color: var(--color-btn2);
    color: var(--color-terciario);
}

.botones__encriptar:hover {
    background-color: var(--color-btns);
}

.botones__desencriptar:hover {
    background-color: var(--color-btns2);
    color: var(--color-btn2);
}
.botones__copiar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--color-btn1);
    color:var(--color-primario);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.botones__copiar:hover{
    background-color: var(--color-btns);
}

.illustration {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}
.mensaje-resultado {
    font-size: 30px;
    font-weight: bold;
}

.texto {
    font-size: 18px;
    font-weight: bold;
}

.sub-mensaje {
    font-size: 14px;
    color: #666;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #999;
}
/* Responsive */
@media (max-width: 1024px) {
    .cuadro-izquierda textarea {
        width: 100%;
        height: 500px;
    }
    /* .cuadro-derecha {
        width: 350px;
        margin: 20px;
    } */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .cuadro-izquierda,
    .cuadro-derecha {
        width: 90%;
        margin: 20px 0;
    }
    .cuadro-izquierda textarea {
        height: 300px;
    }
    .botones {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    .botones__encriptar,
    .botones__desencriptar {
        width: 328px;
    }
    main{
        display: flex;
        justify-content: center;
    }
    .cuadro-izquierda{
        padding: 0;
    }
    .footer{
        position: relative;
    }

    .illustration{
        display: none;
    }
}

@media (max-width: 480px) {
    .logo-alura {
        height: 36px;
        margin: 20px;
    }

    .cuadro-derecha {
        /* width: 100%; */
        padding: 40px;
    }
}