@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Variables */
:root{
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-btn1: #0A3871;
    --color-btn2: #D8DFE8;
    --color-btns: #052051;
    --color-btns2: #495057;
    --font: "Inter", sans-serif;
}
/* Global */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}
/* logo */

/* Texto */
.cuadro-texto{
    display: flex;
    gap: 8px;
    padding: 40px;

}
#textarea{
    background-color: var(--color-primario);
    border: var(---color-primario);
    width: 65%;
    height: 750px;
    font-family: var(--font);
    font-size: 20px;
    resize: none;
    padding: 10px;
    border-radius: 24px;
}
#input{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-primario);
    width: 30%;
    border-radius: 24px;

}

/* informacion */
.info{
    display: flex;
    gap: 8px;

}
/* Botones */
.botones{
    display: flex;
    
    gap: 24px;
    font-family: var(--font);
}
.botones__encriptar,
.botones__desencriptar{
    font-family: var(--font);
    font-weight: 400;
    color: var(--color-secundario);
    padding: 24px;
    width: 328px;
    border-radius: 24px;
}
.botones__encriptar{
    background-color: var(--color-btn1);
}
.botones__desencriptar{
    background-color: var(--color-btn2);
}
.botones__encriptar:hover{
    background-color:var(--color-btns)
}
.botones__desencriptar:hover{
    background-color: var(--color-btns2);
}